.about-us {
  padding-left: 30px;
}
.about-us__title {
  .title()
}
.about-us__list {
  padding: 0;
}
.about-us__item {
  margin: 0;
  padding: 85px 0;
  font-size: 17px;
  line-height: normal;
  list-style: none;
  font-weight: bold;
  &:last-child {
    padding-bottom: 0;
  }
}
