.btn {
  text-align: center;
  width: 256px;
  margin-top: 28px;
  padding: 16px 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid @gray-dark;
  color: @gray-dark;
  background-color: transparent;
}
