.btn {
  text-align: center;
  width: 256px;
  margin-top: 28px;
  padding: 10px 0 11px;
  font-size: @base-font-size;
  line-height: base-line-height;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid @gray-dark;
  color: @gray-dark;
  background-color: transparent;

  &:hover {
    color: @white;
    background-color: @gray-dark;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @gray-dark;
  }
}
