.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 86px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -41px;
    right: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 5px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: auto 5px;
    background-repeat: repeat-x;
  }
}
.contacts__title {
  .container();
  .title();
  width: 260px;
  margin: 0 auto;
  font-size: 18px;
  color: @green-light;
}
.contacts__table {
  .container();
  .text();
  margin: 23px auto 0;
  padding: 0 30px 35px;
  box-sizing: border-box;
}
.contacts__row {

  &:nth-last-of-type {

  }
}
.contacts__key {
  width: 80px;
  vertical-align: top;
  padding: 0;
  margin: 0;

  &--address {
    padding-top: 28px;
  }

}
.contacts__value {
  width: 180px;
  vertical-align: top;
  padding: 0;
  margin: 0;

  &--address {
    padding-top: 28px;
  }

  &--underline {
    border-bottom: 1px solid @green-light;
  }
}
.contacts__link {
  text-decoration: none;
}
.contacts__map {
  .container();
  width: 320px;
  height: 457px;
  background: url("../img/map-mobile@1x.jpg") no-repeat;
}
.contacts__write {
  .container();
  width: 260px;
  margin: 0 auto;
  margin-top: 40px;
  box-sizing: border-box;

}

@media @tablet-widths {
  .contacts {
    margin-top: 146px;

    &::before {
      top: -78px;
      height: 16px;
      background-size: auto 16px;
    }
  }
  .contacts__title {
    .container();
    .title-tablet();
    padding: 0 50px;
  }
  .contacts__table {
    padding: 0 50px;
    margin-bottom: 51px;
  }
  .contacts__row {
    width: 334px;
  }
  .contacts__table tbody {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    font-size: @base-font-size;
    line-height: @larger-line-height;
  }
  .contacts__key {
    width: 73px;

    &--address {
      padding: 0;
    }
  }
  .contacts__value {
    width: 261px;

    &--address {
      padding: 0;
    }
    &--underline {
      width: 204px;
    }
  }
  .contacts__map {
    width: 100%;
    height: 457px;
    background: @gray-light;
  }
  .contacts__write {
    width: 230px;
    margin-top: 55px;
  }
}
@media @desktop-widths {
  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    min-height: 457px;
    padding: 0 50px;
  }
  .contacts__wrapper {
    .contacts();
    padding: 0;
  }
  .contacts__title {
    width: 350px;
    margin: 75px 0 0 175px;
    padding: 0;
  }
  .contacts__table {
    margin: 0;
    margin-left: 175px;
    padding: 0;
  }
  .contacts__table tbody{
    display: flex;
    flex-direction: column;
    width: 350px;
  }
  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;
    width: 525px;
    height: 457px;
    background: url("../img/map-mobile@1x.jpg") no-repeat;
    margin: 0;
  }
  .contacts__write {
    width: 230px;
    margin-left: 175px;
    box-sizing: border-box;
  }

}
