.contacts {
  display: flex;
  flex-direction: column;
}
.contacts__title {
  .title();
  font-size: 18px;
  padding-left: 30px;
}
.contacts__table {
  .text();
  padding-left: 30px;
}
.contacts__row {
}
.contacts__key {
  width: 77px;
  padding-top: 35px;
  vertical-align: top;
}
.contacts__value {
  vertical-align: top;
  padding-top: 35px;
  &--underline {
    border-bottom: 1px solid #62d1ba;
  }
}
.contacts__link {
  text-decoration: none;
}
.contacts__map {
  width: 320px;
  height: 457px;
  background: url("../img/map-mobile@1x.jpg") no-repeat;
}
.contacts__write {
  margin-left: 30px;
}
