.main-nav {
  display: flex;
  flex-direction: column;
}
.main-nav__toggler {

}
.main-nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-nav__item {
  display: flex;
  height: 79px;
  list-style: none;
  &--addtional {
    display: none;
  }
}
.main-nav__link {
  margin: auto 0;
  padding-left: 76px;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  color: @black;
}
