.page-footer {
  .container();
  background-color: @gray-light;
  margin-top: 39px;
}
.page-footer__social {
  .container();
}
.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .container();
  width: 260px;
  padding: 18px 0 26px 0;
}
.page-footer__copyright-text {
  font-size: @larger-font-size;
  line-height: @smaller-line-height;
  font-weight: bold;
  padding-left: 24px;
}

.page-footer__copyright-logo {
  width: 27px;
  height: 34px;
  padding-right: 24px;
}
.page-footer__img {
    vertical-align: middle;
    font-size: 0;
}

@media @tablet-widths {
  .page-footer {
    min-height: 143px;
    width: 100%;
    margin-top: 57px;
  }
  .page-footer__wrapper {
    .container();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .page-footer__logo {
    display: block;
  }
  .page-footer__logo-svg {
    width: 104px;
    height: 43px;
    margin-top: 37px;
    font-size: 0;
    fill: #231f20;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page‐footer__social {
    width: auto;
    margin: 34px 0 0 76px;
  }
  .page-footer__copyright {
    width: auto;
    margin: 28px 0 0 0;
    padding: 0;
  }
  .page-footer__copyright-text {
    padding: 0;
  }
  .page-footer__copyright-logo {
    padding: 0;
    margin: 6px 0 0 28px;
  }
  .page-footer__copyright-svg {
    &:hover {
      fill: #46c1ae;
    }
    &:active {
      opacity: 0.3;
    }
  }


}
