.page-footer {
  .container();
  background-color: @gray-light;
  margin-top: 39px;
}
.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  text-align: center;
  padding: 22px 0 23px 0;
}
.page-footer__copyright-text {
  vertical-align: middle;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}

.page-footer__copyright-logo {
}
.page-footer__img {
    vertical-align: middle;
    font-size: 0;
}
