.page-content {
  .container();
  display: flex;
  flex-direction: column;
}
.page-content__text {
  padding: 0 30px;
  margin: 0;
  font-size: @smallest-font-size;
  line-height: @base-line-height;
  color: @gray-dark;

  &--form {
    margin: 25px 0;
  }
}
