.page-title {
  .container();

  &--inner-background {
    min-height: 177px;
    background-color: @gray-light;
  }
}

.page-title__text {
  margin: 0 auto;
  padding: 72px 30px 72px 30px;
  text-align: center;
  font-size: 27px;
  line-height: @larger-line-height;
}
@media @tablet-widths {
  .page-title {

    padding: 0;
    margin-top: 154px;

    &--index-background {

    }
    &--inner-background {
      background: none;
      padding: 88px 0;
    }
  }
  .page-title__text {
    display: block;
    padding: 0;
    font-size: @largest-font-size;
    line-height: @largest-line-height;
  }
}

@media @desktop-widths {

  .page-title {
    justify-content: center;
    align-self: center;
  }

  .page-title__text {
    font-size: @most-largest-font-size;
    line-height: @most-largest-line-height;
  }

}
