.product-item {
  .container();
  display: flex;
  flex-direction: column;
  margin-top: 34px;
}
.product-item__title {
  .title();
  padding-left: 30px;
}
.product-item__feature {
  margin-top: 4px;
  padding: 0 30px;
  font-size: @base-font-size;
  line-height: @smallest-line-height;
  font-weight: bold;
  text-transform: uppercase;
  color: @green-light;
}
.product-item__description {
  margin-top: 30px;
  padding: 0 30px;
  font-size: @smaller-font-size;
  line-height: @base-line-height;
  color: @gray-dark;
}
.product-item__table {
  width: 260px;
  padding: 0 30px;
}
.product-item__table {
  margin-top: 20px;
  margin: 0 30px;
  font-size: @smaller-font-size;
  line-height: 20px;
  border-collapse: collapse;
}
.product-item__key {
  padding: 10px 0;
  border-bottom: 1px solid @gray-borders;
}
.product-item__value {
  padding: 10px 0;
  border-bottom: 1px solid @gray-borders;
}
.product-item__img {
  width: 260px;
  height: 315px;
  margin-top: 28px;
  padding: 0 30px;
}
.product-item__price {
  padding: 0 30px;
  margin-top: 29px;
  text-align: center;
  font-size: @base-font-size;
  line-height: @base-line-height;
  font-weight: bold;
  color: @gray-dark;
}
.product-item__btn {
  margin: 28px 30px 0 30px;
}

@media @tablet-widths {

  .product-item {
    padding: 0 50px;
    margin-top: 55px;
    position: relative;
  }
  .product-item__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .product-item__title {
    padding: 0;
    font-size: 43px;
    line-height: 50px;
  }
  .product-item__feature {
    width: 75px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .product-item__description {
    width: 290px;
    margin-top: 42px;
    padding: 0;
    font-size: @base-font-size;
    line-height: @larger-line-height;
  }
  .product-item__table {
    width: 290px;
    margin: 0;
  }
  .product-item__price {
    width: 290px;
    margin: 60px 0 0 0;
    padding: 0;
    text-align: center;
  }
  .product-item__btn {
    width: 290px;
    margin: 30px 0 0 0;
    box-sizing: border-box;
  }

  .product-item__img {
    position: absolute;
    top: 90px;
    right: 50px;
    padding: 0;
    width: 334px;
    height: 404px;
    margin: 0;
  }

}

@media @desktop-widths {
  .product-item {
    margin-top: 130px;
  }
  .product-item__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 750px;

  }
  .product-item__title {
    position: relative;
    z-index: 2;
    padding: 0;
    padding-left: 50px;
    font-size: 53px;
    line-height: 57px;

  }
  .product-item__feature {
    padding: 0;
    padding-left: 47px;
  }
  .product-item__description {
    margin-left: 175px;
    margin-bottom: 30px;
  }
  .product-item__table {
    margin-left: 175px;
  }
  .product-item__price {
    margin-left: 175px;
    margin-top: 110px;
  }
  .product-item__btn {
    margin-left: 175px;
  }
  .product-item__img {
    position: absolute;
    top: -60px;
    right: 50px;
    padding: 0;
    width: 525px;
    height: 636px;
    z-index: 1;
  }


}
