.reviews {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.reviews__title {
  .title();
}
.reviews__cite {
  margin: 0;
}
.reviews__text {
  .text();
  margin: 0;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.reviews__author-name {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
}
.reviews__nick-name {
  font-size: 18px;
  line-height: 30px;
  color: @gray-dark;
}
.reviews__prev-next {
  display: flex;
  padding-top: 28px;
  padding-bottom: 10px;

}
.reviews__prev {
  width: 130px;
  height: 52px;
  margin: 0;
  font-size: 0;
  border: 1px solid #ececec;
  border-right-style: hidden;
  background-color: transparent;
}
.reviews__next {
  width: 130px;
  height: 52px;
  margin: 0;
  font-size: 0;
  border: 1px solid #ececec;
  background-color: transparent;
}
