.social‐link {
  margin: 24px 20px 28px 20px;
  font-size: 0;

  &--instagram {
    width: 22px;
    height: 21px;
  }
  &--facebook {
    width: 15px;
    height: 29px;
  }
  &--twitter {
    width: 24px;
    height: 20px;
  }
}

@media @tablet-widths {
  .social‐link__svg {
    fill: #231F20;

    &:hover {
      fill: #46c1ae;
    }
    &:active {
      opacity: 0.3;
    }
  }

}
